<div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= render 'layouts/mainvisual' %>
<!--main-visual部分-->
<div class="genre-card-body">
  <div class="row main">
    <div class="col-md-9 genre-post">
      <h2 class="blog-heading text-center mt-3">GenresPostTimeLine</h2>

          <div class="wrap">
            <ul id="tab-menu">
              <li><a href="#tab0" class="active">TAB0</a></li>
              <li><a href="#tab1" class="">TAB1</a></li>
              <li><a href="#tab2" class="">TAB2</a></li>
              <li><a href="#tab3" class="">TAB3</a></li>
              <li><a href="#tab4" class="">TAB4</a></li>
              <li><a href="#tab4" class="">TAB5</a></li>
            </ul>

            <div id="tab-contents">
              <div id="tab0" class="tab">
                <p>ジャンル0の内容</p>
                <%= render 'genres/post' , posts: @posts_genre0%>
              </div>

              <div id="tab1" class="tab">
                <p>ジャンル1の内容</p>
                <%= render 'genres/post' , posts: @posts_genre1%>
              </div>

              <div id="tab2" class="tab">
                <p>ジャンル2の内容</p>
                <%= render 'genres/post' , posts: @posts_genre2%>
              </div>

              <div id="tab3" class="tab">
                <p>ジャンル3の内容</p>
                <%= render 'genres/post' , posts: @posts_genre3%>
              </div>

              <div id="tab4" class="tab">
                <p>ジャンル4の内容</p>
                <%= render 'genres/post' , posts: @posts_genre4%>
              </div>

              <div id="tab5" class="tab">
                <p>ジャンル5の内容</p>
                <%= render 'genres/post' , posts: @posts_genre5%>
              </div>

            </div>
          </div>
        </div>
      <div class="col-md-3 sidebar">
　　　 <%= render 'layouts/sidebar', post: @posts %>
　　　</div>
  </div>
</div>