<%= @inquiry.name %> 様 から問い合わせがありました。<br>
【Tel】：<%= @inquiry.phone_number %><br>
【Mail】：<%= @inquiry.email %><br>
【用件】：<%= @inquiry.subject %><br>
【お問い合わせ内容】<br>
<span style="white-space: pre-wrap;"><%= @inquiry.message %></span>