<h4 class="ml-4 my-5 d-inline-flex">ログインお願いします！</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row ml-5">
    <div class="col -lg-3 ml-5">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div><br>

  <div class="row ml-5">
    <div class="col -lg-3 ml-5">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="row ml-5">
    <div class="col -lg-3 ml-5">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  </div>
  <% end %>

  <div class="row ml-5">
    <div class="col -lg-3 ml-5">
    <%= f.submit "ログイン", class: "btnbtn btn-sm btn-primary" %>
    </div>
  </div>

<% end %>

<div class="row ml-5">
  <div class="col -lg-3 ml-5">
　　<%= render "users/shared/links" %>
  </div>
</div>
