<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with model: @user, url: user_path, method: :patch, remote: true do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="modal-header">
          <h5 class="modal-title">EditUserProfile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-profile">
          <div class="form-group field">
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
            <label for="inputImage">ProfileImage</label>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
            <%= f.select :occupation, User.occupations.keys.to_a, autocomplete: "職業" %>
            <%= f.text_field :nick_name, class:"form-control", placeholder:"ニックネーム" %>
            <%= f.text_field :first_name, class:"form-control", placeholder:"名前" %>
            <%= f.text_field :first_name_kana, class:"form-control", placeholder:"名前カナ" %>
            <%= f.text_field :family_name, class:"form-control", placeholder:"苗字" %>
            <%= f.text_field :family_name_kana, class:"form-control", placeholder:"苗字カナ" %>
            <%= f.text_field :address, class:"form-control", placeholder:"都道府県" %>
            <%= f.text_field :phone_number, class:"form-control", placeholder:"電話番号" %>
            <%= f.text_field :email, class: "form-control", placeholder:"Email" %>
          </div>
        </div>
        <div class="modal-footer actions">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>