<%= render 'layouts/mainvisual', user: @user %>
<div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="profile-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div class="profile-body">
    <div class="row main">

      <div class="col-md-9 post">
        <h2 class="blog-heading text-center mt-3"><%= @user.nick_name %>'sPage</h2>

        <% if user_signed_in? && @user == current_user %>
        <div class="ml-1 mb-2"><%= link_to "EditProfile", edit_user_path(@user), remote: true, class: "btn btn-lg, btn-primary" %></div>
        <% end %>

        <div class="container ml-1">
          <div class="row">
            <div class="col-md-4 border">
              <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg", style: "border-radius:50%;}" %>
            </div>
            <div class="col-md-8 border">
              <div>
                <h3>Introduction</h3>
                <p><%= @user.introduction %></p>
              </div>
            </div>
          </div>
        </div>

        <table class="table table-bordered ml-1">
          <tbody>
            <tr>
              <td class="col-xs-2 table-secondary">ニックネーム</td>
              <td><%= @user.nick_name %>
            </tr>
            <tr>
              <td class="col-xs-2 table-secondary">氏名</td>
              <td><%= @user.family_name %> <%= @user.first_name %></td>
            </tr>
            <tr>
              <td class="col-xs-2 table-secondary">カナ</td>
              <td><%= @user.family_name_kana %> <%= @user.first_name_kana %></td>
            </tr>
            <tr>
              <td class="col-xs-2 table-secondary">Email</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td class="col-xs-2 table-secondary">都道府県</td>
              <td><%= @user.address %></td>
            </tr>
            <tr>
              <td class="col-xs-2 table-secondary">職業</td>
              <td><%= @user.occupation %></td>
            </tr>
            <tr>
              <td class="col-xs-2 table-secondary">性別</td>
              <td><%= @user.sex %></td>
            </tr>
            <tr>
              <td class="col-xs-2 table-secondary">年代</td>
              <td><%= @user.generation %></td>
            </tr>
          </tbody>
        </table>

        <div class="card-body">
          <div class="row main">
            <div class="col-md-12 post">
              <h2 class="blog-heading text-center mt-3"><%= @user.nick_name %>'s PostHistory</h2>
              <div class="card-list-containar py-5">
                <% @user_posts.last(10).each do |post| %>
                <div class="card w-auto mx-auto mt-4 shadow-lg scroll-list jscroll">
                  <div class="row card-body">
                    <div class="col-2">
                      <div class="rounded-circle">
                        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", style: "border-radius:50%;}" %>
                      </div>
                    </div>

                    <div class="col-10">
                      <div class="row mb-2">
                        <div class="col-lg-4 fas fa-user"><%= link_to user_path(post.user_id), method: :get do %><%= post.user.nick_name %><% end %></div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4"><%= post.created_at.to_s(:datetime_jp) %></div>
                      </div>

                      <div class="row mb-2">
                        <div class="col-lg-12">タイトル：<%= post.title %></div>
                        <div class="col-lg-12">投稿：<%= post.body %></div>
                      </div>

                      <div class="row mb-2">
                        <% if user_signed_in? %>
                        <div class="col-lg-2" id="post_assessment_<%= post.id %>">
                          <!--部分テンプレートでいれる-->
                          <%= render 'post_assessments/post_assessment', post: post%>
                          <!--部分テンプレート終わり-->
                        </div>
                        <% else %>
                          <div class="col-lg-2">
                            <p>
                              ♥<%= post.post_assessments.count %> いいね
                            </p>
                          </div>
                        <% end %>

                        <% if user_signed_in? %>
                        <div class="col-lg-2" id="post_negative_assessment_<%= post.id %>">
                          <!--部分テンプレートでいれる-->
                          <%= render 'post_negative_assessments/post_negative_assessment', post: post%>
                          <!--部分テンプレート終わり-->
                        </div>
                        <% else %>
                        <div class="col-lg-2">
                          <p class="">
                            ★<%= post.post_negative_assessments.count %>うーん
                          </p>
                        </div>
                        <% end %>

                        <div class="col-lg-2">
                          <%= link_to post_path(post), method: :get do %>
                          <div>コメント数：<%= post.comments.count %></div>
                          <% end %>
                        </div>

                        <div class="col-lg-3">
                          <%= link_to "コメントする", new_post_comment_path(post), remote: true, class: "btn btn-lg, btn-primary" %>
                        </div>

                        <% if user_signed_in? %>
                        <div class="col-lg-3">
                          <%= link_to "削除する", post_path(post), method: :delete, class: "btn btn-lg, btn-danger" %>
                        </div>
                        <% else %>
                        <div class="col-lg-3">
                        </div>
                        <% end %>

                      </div>
                    </div>

                  </div>
                  <%= paginate @posts %>
                </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-3 sidebar border-left">
    　　　 <%= render 'layouts/sidebar', post: @posts %>
    　　　</div>

      </div>
    </div>