<div class="container">
  <h5 class="ml-4 my-4 bg-light d-inline-flex">Post一覧</h5>
  <div class="row justify-content-center mb-5">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead class="table-secondary">
          <tr>
            <th>投稿者id</th>
            <th>投稿者名<br>(NickName)</th>
            <th>投稿時間</th>
            <th>ジャンル</th>
            <th>タイトル</th>
            <th>投稿内容</th>
            <th>AI分析結果</th>
            <th>状態</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to admin_user_path(post.user_id), method: :get do %><%= post.user.id %><% end %></td>
              <td><%= link_to admin_user_path(post.user_id), method: :get do %><%= post.user.nick_name %><% end %></td>
              <td><%= post.created_at.to_s(:datetime_jp) %></td>
              <td><%= post.genre_id %></td>
              <td><%= post.title %></td>
              <td><%= post.body %></td>
              <td><%= post.score %></td>
              <td>
                <% if post.is_valid == false %>
                  <p class="text-danger">削除済み</p>
                <% else %>
                  <p class="text-success">有効</p></td>
                <% end %>
              </td>
              <td>
                <% if post.is_valid == false %>
                  <p>強制削除済み</p>
                <% else %>
                  <%= link_to "削除する", admin_invalid_post_path(post), method: :patch, class: "btn btn-lg, btn-danger", data:
                    { confirm: "本当に削除しますか?", cancel: "Cancel", commit: "Delete"}, title: "Confirmation" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>
