<div class="footer-fixed-admin">
  <h2 class="ml-5 mt-5">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field ml-5">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field ml-5">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field ml-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions ml-5 mb-5">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>
</div>