<div id="message-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--JSテスト用、JSが上手く動かず画像が5種類全部出てしまう？-->
<script>
  window.onload = function() {
    alert("ページが読み込まれました！");
  };
  window.onload = load;
</script>


<%= render 'layouts/mainvisual' %>
<!-- カード部分 -->

<div class="container py-4 border-bottom border-light" id="skill">
  <h2>Welcome to FindNewSocial!! We are waiting for sign up and posts.</h2>
  <p>ようこそFindNewSocialへ！Sign Up後、皆さんの投稿や自分も投稿できる等になります。あなたの1投稿で日本社会の課題が解決に進むかもしれません。</p>
  <div class="progress">
    <div class="progress-bar bg-dark" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Your post might save our future.</div>
  </div>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Your action will make our new future.</div>
  </div>
</div>

<% if !admin_signed_in? && !user_signed_in? %>
  <div class="text-center">
    <%= link_to 'LogInはこちら', new_user_session_path, class: 'btn btn-primary mb-3 ml-3' %>
    <%= link_to 'SignUpはこちら', new_user_registration_path, class: 'btn btn-info mb-3 ml-3' %>
  </div>
<% end %>

<div class="container py-5 border-bottom border-light" id="works">
  <h2>topページへようこそ</h2>
  <p>当webサイトの使用方法は以下に記載しております。良くお読みください。</p>
  <div class="card-deck">
    <div class="card">
      <%= image_tag "img/top1.jpg" %>
      <div class="card-body">
        <h5 class="card-title">テーマ</h5>
        <p class="card-text">社会に潜む課題を市民目線で気軽につぶやけるアプリ
        政府や企業が見逃している社会課題への提起や問題発見に 1 人 1 人が貢献できます。</p>
        <p class="card-text"><small class="text-muted">Last updated 15-Jun-2021</small></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "img/top2.jpg" %>
      <div class="card-body">
        <h5 class="card-title">ルール</h5>
        <p class="card-text">個人に対する否定的なコメント、誹謗中傷、知識でのマウントはお断りしております。
        *3 No 精神
        <br>① No ネガティブコメント<br>② No 誹謗中傷<br> ③ No マウント</p>
        <p class="card-text"><small class="text-muted">Last updated 15-Jun-2021</small></p>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/pie_chart' %>

<p class="ml-3 mt-3">当サイトに関してのお問い合わせへは以下へどうぞ</p>
<%= link_to 'お問い合わせへ', new_inquiry_path, class: 'btn btn-primary mb-3 ml-3' %>