<div class="modal-dialog modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <%= form_with(model: @post, remote: true) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="modal-header">
          <h5 class="modal-title">NewPost</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group field">
            <%= f.select :genre_id, Genre.genres.keys, {prompt: "選択してください"} %>
            <%= f.text_field :title, class: "form-control", placeholder:"Title" %>
            <br>
            <%= f.text_area :body, class: "form-control", placeholder:"Post here" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
        </div>
        <div class="modal-footer actions">
          <%= f.submit "送信する", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>