<table>
  <tr>
    <th class="fas fa-user">User名：<%= post.user.nick_name %>ジャンル：<%= post.genre_id %><%= post.created_at.to_s(:datetime_jp) %></th>
  </tr>
  <tr>
    <td><div class="card-text">投稿：<%= post.body %></div></td>
  </tr>
  <tr>
    <td>
      <p>
        ♥<%= post.post_assessments.count %> いいね
      </p>
    </td>
    <td>
      <p class="far fa-meh">
        <%= post.comment_assessments.count %>うーん
      </p>
    </td>
    <td>
      <div>コメント数：<%= post.comments.count %></div>
    </td>
  </tr>
</table>