<table>
  <tr>
    <th class="fas fa-user">User名：<%= post.user.nick_name %>ジャンル：<%= post.genre_id %><%= post.created_at.to_s(:datetime_jp) %></th>
  </tr>
  <tr>
    <td><div class="card-text">投稿：<%= post.body %></div></td>
  </tr>
  <tr>
    <td>
      <% if post.post_favorited_by?(current_user) %>
        <p>
          <%= link_to post_post_assessments_path(post), method: :delete do %>
            ♥<%= post.post_assessments.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to post_post_assessments_path(post), method: :post do %>
            ♡<%= post.post_assessments.count %> いいね
          <% end %>
        </p>
      <% end %>
    </td>
    <td>
      <% if post.comment_favorited_by?(current_user, post) %>
        <p class="far fa-meh">
          <%= link_to post_comment_comment_assessments_path(post,post.comments), method: :delete do %>
            <%= post.comment_assessments.count %>うーん
          <% end %>
        </p>
        <% else %>
        <p class="far fa-meh">
          <%= link_to post_comment_comment_assessments_path(post,post.comments), method: :post do %>
            <%= post.comment_assessments.count %>うーん
          <% end %>
        </p>
      <% end %>
    </td>
    <td>
      <%= link_to post_path(post), method: :get do %>
      <div>コメント数：<%= post.comments.count %></div>
      <% end %>
    </td>
    <td><%= link_to "コメントする", new_post_comment_path(post), remote: true, class: "btn btn-lg, btn-primary" %></td>
  </tr>
</table>