<div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--main-visual部分-->
<%= render 'layouts/mainvisual', post: @posts %>
<!--投稿カード部分-->
<div class="card-body">
  <div class="row main">
    <div class="col-md-9 post">
      <h2 class="blog-heading text-center mt-1">PostTimeLine</h2>
      <div class="card-list-containar py-1">
        <% @posts.last(10).each do |post| %>
        <div class="card w-auto mx-auto mt-4 shadow-lg">
          <div class="row card-body">
            <div class="col-2 ">
              <%= link_to user_path(post.user_id), method: :get do %>
                <%= attachment_image_tag post.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", style: "border-radius:50%;}" %>
              <% end %>
            </div>
            <div class="col-10">
              <table>
                <tr>
                  <th class="fas fa-user">User名：<%= post.user.nick_name %>ジャンル：<%= post.genre_id %><%= post.created_at.to_s(:datetime_jp) %></th>
                </tr>
                <tr>
                  <td><div class="card-text">投稿：<%= post.body %></div></td>
                </tr>
                <tr>
                  <% if user_signed_in? %>
                    <td>
                      <% if post.post_favorited_by?(current_user) %>
                        <p>
                          <%= link_to post_post_assessments_path(post), method: :delete do %>
                            ♥<%= post.post_assessments.count %> いいね
                          <% end %>
                        </p>
                        <% else %>
                        <p>
                          <%= link_to post_post_assessments_path(post), method: :post do %>
                            ♡<%= post.post_assessments.count %> いいね
                          <% end %>
                        </p>
                      <% end %>
                    </td>
                    <% else %>
                    <td>
                      <p>
                        ♥<%= post.post_assessments.count %> いいね
                      </p>
                    </td>
                  <% end %>
                  <% if user_signed_in? %>
                    <td>
                      <% if post.comment_favorited_by?(current_user, post) %>
                        <p class="far fa-meh">
                          <%= link_to post_comment_comment_assessments_path(post,post.comments), method: :delete do %>
                            <%= post.comment_assessments.count %>うーん
                          <% end %>
                        </p>
                        <% else %>
                        <p class="far fa-meh">
                          <%= link_to post_comment_comment_assessments_path(post,post.comments), method: :post do %>
                            <%= post.comment_assessments.count %>うーん
                          <% end %>
                        </p>
                      <% end %>
                    </td>
                  <% else %>
                    <p class="far fa-meh">
                      <%= post.comment_assessments.count %>うーん
                    </p>
                  <% end %>
                  <td>
                    <%= link_to post_path(post), method: :get do %>
                    <div>コメント数：<%= post.comments.count %></div>
                    <% end %>
                  </td>
                  <td><%= link_to "コメントする", new_post_comment_path(post), remote: true, class: "btn btn-lg, btn-primary" %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <% end %>
        <div id="table-append" class="card w-auto mx-auto mt-4 shadow-lg"></div>
          </div>
        </div>
      <div class="col-md-3 sidebar border-left">
　　　 <%= render 'layouts/sidebar', post: @posts %>
　　　</div>
  </div>
</div>