<div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--main-visual部分-->
<%= render 'layouts/mainvisual', post: @posts %>

<div class="card-body">
  <div class="row main">
    <div class="col-md-9 post">
      <h2 class="blog-heading text-center mt-3">PostShow</h2>
      <div class="card-list-containar py-5">
        <div class="card w-auto mx-auto mt-4 shadow-lg">
          <div class="row card-body">

            <div class="col-2">
              <%= link_to posts_path do %>
                <%= @post.user_id %><br>
                <%= @post.user_id %>
              <% end %>
            </div>

            <div class="col-10">
              <table>
                <tr>
                  <th class="fas fa-user">User名：<%= @post.user.nick_name %>ジャンル：<%= @post.genre_id %><%= @post.created_at.to_s(:datetime_jp) %></th>
                </tr>
                <tr>
                  <td><div class="card-text">投稿：<%= @post.body %></div></td>
                </tr>
                <tr>
                  <td>
                      <% if @post.post_favorited_by?(current_user) %>
                      <p>
                        <%= link_to post_post_assessments_path(@post), method: :delete do %>
                          ♥<%= @post.post_assessments.count %> いいね
                        <% end %>
                      </p>
                      <% else %>
                      <p>
                        <%= link_to post_post_assessments_path(@post), method: :post do %>
                          ♡<%= @post.post_assessments.count %> いいね
                        <% end %>
                      </p>
                    <% end %>
                  </td>
                  <td><div class="far fa-meh">うーん</div></td>
                  <td>
                    <%= link_to post_post_assessments_path(@post), method: :post do %>
                      <div>コメント数：<%= @post.comments.count %></div>
                    <% end %>
                  </td>
                  <td><%= link_to "コメントする", new_post_comment_path(@post), remote: true, class: "btn btn-lg, btn-primary" %></td>
                </tr>
              </table>
            </div>
          </div>
          <h3 class="blog-heading text-center mt-3">PostComment</h3>
          <% @comments.each do |comment| %>
          <div class="row comment-card-body">
            <div class="col-2">
              <%= link_to posts_path do %>
                <%= comment.user_id %><br>
              <% end %>
            </div>
            <div class="col-10">
              <table>
                <tr>
                  <th class="fas fa-user">User名：<%= comment.user_id %><%= comment.created_at.to_s(:datetime_jp) %></th>
                </tr>
                <tr>
                  <td><div class="card-text">コメント：<%= comment.body %></div></td>
                </tr>
                <tr>
                  <td>
                      <% if comment.comment_favorited_by?(current_user, comment) %>
                      <p>
                        <%= link_to post_comment_comment_assessments(@post, comment), method: :delete do %>
                          ♥<%= comment.comment_assessments.count %> いいね
                        <% end %>
                      </p>
                      <% else %>
                      <p>
                        <%= link_to post_comment_comment_assessments_path(@post, comment), method: :post do %>
                          ♡<%= comment.comment_assessments.count %> いいね
                        <% end %>
                      </p>
                    <% end %>
                  </td>
                  <td><div class="far fa-meh">うーん</div></td>
                </tr>
              </table>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
      <div class="col-md-3 sidebar">
　　　 <%= render 'layouts/sidebar', post: @posts %>
　　　</div>
  </div>
</div>