<div class="container">
  <h5 class="ml-4 my-4 bg-light d-inline-flex">User詳細</h5>
  <div class="row justify-content-center mb-5">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead class="table-secondary">
          <tr>
            <th>UserID</th>
            <th>NickName</th>
            <th>性別</th>
            <th>年代</th>
            <th>職業</th>
            <th>住まい</th>
            <th>登録日</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @user.id %></td>
              <td><%= @user.nick_name %></td>
              <td><%= @user.sex %></td>
              <td><%= @user.generation %></td>
              <td><%= @user.occupation %></td>
              <td><%= @user.address %></td>
              <td><%= @user.created_at.to_s(:datetime_jp) %></td>
            </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover">
        <thead class="table-secondary">
          <tr>
            <th>今週の投稿数</th>
            <th>今月の投稿数</th>
            <th>前月の投稿数</th>
            <th>合計の投稿数</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @user.posts.count %></td>
              <td><%= @user.posts.count %></td>
              <td><%= @user.posts.count %></td>
              <td><%= @user.posts.count %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
