<div class="container">
  <h5 class="ml-4 my-4 bg-light d-inline-flex">User詳細</h5>
  <div class="row justify-content-center mb-5">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead class="table-secondary">
          <tr>
            <th>UserID</th>
            <th>NickName</th>
            <th>性別</th>
            <th>年代</th>
            <th>職業</th>
            <th>住まい</th>
            <th>登録日</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @user.id %></td>
              <td><%= @user.nick_name %></td>
              <td><%= @user.sex %></td>
              <td><%= @user.generation %></td>
              <td><%= @user.occupation %></td>
              <td><%= @user.address %></td>
              <td><%= @user.created_at.to_s(:datetime_jp) %></td>
            </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover">
        <thead class="table-secondary">
          <tr>
            <th>今週の投稿数</th>
            <th>今月の投稿数</th>
            <th>前月の投稿数</th>
            <th>合計の投稿数</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @user.posts.count %></td>
              <td><%= @user.posts.count %></td>
              <td><%= @user.posts.count %></td>
              <td><%= @user.posts.count %></td>
            </tr>
        </tbody>
      </table>

      <div class="container">
        <div class="row">
          <div class="col-6">
            <canvas id="myChart" width="200" height="200"></canvas>
            <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var genreIdsCount = JSON.parse('<%= @genre_id_hash.values %>')
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["公共交通", "インフラ", "ヘルスケア", "生活", "地域", "その他"],
                    datasets:
                    [
                      {
                        label: 'test',
                        data: genreIdsCount,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                      }
                    ]
                },
            });
            </script>
          </div>
          <div class="col-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
