<header class="sticky-top bg-dark text-white pt-2 pb-2">
  <h1 class="heading text-white">
      FindNewSocial
  </h1>
  <div class="social">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!--<a class="navbar-brand" href="/"><span><%#= image_tag '#', :size =>'140x70' %></span>-->
      <!--</a>-->
      <div class="text-white">
        <% if admin_signed_in? %>
          <p>管理者Login中</p>
        <% elsif user_signed_in? %>
          <p class="fas fa-user"><%= current_user.nick_name %></p>
        <% else %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li><%= link_to ' Posts', admin_posts_path,class: 'nav-link text-white' %></li>
          <li><%= link_to ' Genre', admin_genres_path ,class: 'nav-link text-white'%></li>
          <li><%= link_to ' Users', admin_users_path ,class: 'nav-link text-white'%></li>
          <li><%= link_to ' LogOut', destroy_admin_session_path, method: :delete,class: 'nav-link text-white' %></li>
          <br>
        <% elsif user_signed_in? %>
          <li><%= link_to ' Home', root_path ,class: 'nav-link text-white' %></li>
          <li><%= link_to ' About', homes_about_path ,class: 'nav-link text-white' %></li>
          <li><%= link_to ' TimeLine', posts_path,class: 'nav-link text-white' %></li>
          <li><%= link_to ' MyPage', user_path(current_user),class: 'nav-link text-white' %></li>
          <li><%= link_to ' LogOut', destroy_user_session_path, method: :delete,class: 'nav-link text-white' %></li>
          <li><%= link_to ' Genres', genres_path,class: 'nav-link text-white' %></li>
          <% if current_page?(controller: 'posts', action: 'index') %>
            <li><%= link_to ' NewPost', new_post_path, method: :get, remote: true, class: 'nav-link text-white' %></li>
          <% end %>
          <%# if current_page?(controller: 'users', action: 'show') %>
            <!--<li><%= link_to ' NewPost', new_post_path, method: :get, remote: true, class: 'nav-link text-white' %></li>-->
          <%# end %>
        <% else %>
        　<!--<li><%#= link_to ' 管理者ログイン', new_admin_session_path ,class: 'nav-link text-white'%></li>-->
        　<li><%= link_to ' Home', root_path ,class: 'nav-link text-white' %></li>
          <li><%= link_to ' About', homes_about_path ,class: 'nav-link text-white' %></li>
          <li><%= link_to ' TimeLine', posts_path ,class: 'nav-link text-white' %></li>
          <li><%= link_to ' LogIn', new_user_session_path,class: 'nav-link text-white'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>