<!DOCTYPE html>
<html>
  <head>
    <title>FindNewSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main class="container-fluid application">
    <p id="success"><%= flash[:success] %></p>
    <p id="alert"><%= flash[:alert] %></p>
    <p id="notice"><%= flash[:notice] %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>