<h2>新規登録をお願いします！</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

<div class="row">
  <label class="col">名前</label>
      <div class="col">
        <span>(姓)</span>
        <%= f.text_field :family_name, autoforcus: true, autocomplete: "family_name",  placeholder: "令和" %>
      </div>
      <div class="col">
        <span>(名)</span>
        <%= f.text_field :first_name, autoforcus: true, autocomplete: "first_name",  placeholder: "道子" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">フリガナ</label>
      <div class="col">
        <span>(セイ)</span>
        <%= f.text_field :family_name_kana, autoforcus: true, autocomplete: "family_name_kana",  placeholder: "レイワ" %>
      </div>

      <div class="col">
        <span>(メイ)</span>
        <%= f.text_field :first_name_kana, autoforcus: true, autocomplete: "first_name_kana",  placeholder: "ミチコ" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">ニックネーム</label>
      <div class="col">
        <%= f.text_field :nick_name, autocomplete: "nick_name", placeholder: "ニックネーム" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">職業</label>
      <div class="col">
        <%= f.select :occupation, User.occupations.keys.to_a, autocomplete: "occupation" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">メールアドレス</label>
      <div class="col">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">住んでいるところ</label>
      <div class="col">
        <%= f.select :address, User.addresses.keys.to_a, placeholder: "都道府県" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">性別</label>
      <div class="col">
        <%= f.select :sex, User.sexes.keys.to_a, placeholder: "性別" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">年代</label>
      <div class="col">
        <%= f.select :generation, User.generations.keys.to_a, placeholder: "年代" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">パスワード
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %></label>
      <div class="col">
        <%= f.password_field :password, autocomplete: "encrypted_password", placeholder: "パスワード" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col">パスワード（確認用）</label>
      <div class="col">
        <%= f.password_field :password_confirmation, autocomplete: "encrypted_password", placeholder: "パスワード確認用" %>
      </div>
    </div><br>

    <div class="row actions ml-5">
      <div class="col-md-8 offset-md-3">
      <%= f.submit "新規登録", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>
