<h2 class="ml-5 mt-5 mb-5">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "users/shared/error_messages", resource: resource %>

<div class="ml-5">
<div class="row">
  <label class="col-lg-3">名前</label>
      <div class="col-lg-3 yoko">
        <!--<span class="mr-3">(姓)</span>-->
        <%= f.text_field :family_name, autoforcus: true, autocomplete: "family_name",  placeholder: "(姓)" %>
      </div>
      <div class="col-lg-3 yoko">
        <!--<span class="mr-3">(名)</span>-->
        <%= f.text_field :first_name, autoforcus: true, autocomplete: "first_name",  placeholder: "(名)" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">フリガナ</label>
      <div class="col-lg-3 yoko">
        <!--<span>(セイ)</span>-->
        <%= f.text_field :family_name_kana, autoforcus: true, autocomplete: "family_name_kana",  placeholder: "(セイ)" %>
      </div>

      <div class="col-lg-3 yoko">
        <!--<span>(メイ)</span>-->
        <%= f.text_field :first_name_kana, autoforcus: true, autocomplete: "first_name_kana",  placeholder: "(メイ)" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">ニックネーム</label>
      <div class="col-lg-3">
        <%= f.text_field :nick_name, autocomplete: "nick_name", placeholder: "ニックネーム" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">職業</label>
      <div class="col-lg-3">
        <%= f.select :occupation, User.occupations.keys.to_a, autocomplete: "occupation" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">住んでいるところ</label>
      <div class="col">
        <%= f.select :address, User.addresses.keys.to_a, placeholder: "都道府県" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">性別</label>
      <div class="col-lg-3">
        <%= f.select :sex, User.sexes.keys.to_a, placeholder: "性別" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">年代</label>
      <div class="col-lg-3">
        <%= f.select :generation, User.generations.keys.to_a, placeholder: "年代" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">パスワード
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %></label>
      <div class="col-lg-3">
        <%= f.password_field :password, autocomplete: "encrypted_password", placeholder: "パスワード" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">パスワード（確認用）</label>
      <div class="col-lg-3">
        <%= f.password_field :password_confirmation, autocomplete: "encrypted_password", placeholder: "パスワード確認用" %>
      </div>
    </div><br>

    <div class="row actions ml-5">
      <div class="col-md-8 offset-md-3">
      <%= f.submit "新規登録", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
</div>

<%= render "users/shared/links" %>
